<div class="auth-wrapper">
  <div class="auth-card">
    <div class="brand-section">
      <img class="logo" src="logo-ep-uleam.png" alt="EP-ULEAM, Empresa Pública de Producción y Desarrollo Estratégico">
      <h2>Acceso al Sistema</h2>
      <p>Gestión Documental con Trazabilidad Hash</p>
    </div>

    <form class="auth-form" (ngSubmit)="iniciarSesion()">

      @if (mensajeError()) {
        <div class="error-alert">{{ mensajeError() }}</div>
      }

      <div class="input-group">
        <label>Correo Electrónico</label>
        <div class="input-wrapper">
          <span class="icon">✉</span>
          <input type="email" name="email" [(ngModel)]="credenciales.email" placeholder="usuario@uleam.edu.ec" autocomplete="username" required>
        </div>
      </div>

      <div class="input-group">
        <label>Contraseña</label>
        <div class="input-wrapper">
          <span class="icon">🔒</span>
          <input type="password" name="password" [(ngModel)]="credenciales.password" placeholder="••••••••" autocomplete="current-password" required>
        </div>
      </div>

      <div class="form-actions">
        <label class="remember-me">
          <input type="checkbox"> Recordarme
        </label>
        <a href="#" class="forgot-pwd">¿Olvidó su contraseña?</a>
      </div>

      <button type="submit" class="btn-login" [disabled]="cargando()">
        {{ cargando() ? 'Ingresando...' : 'Iniciar Sesión' }}
      </button>
    </form>
  </div>
</div>